**Python 101**

# **Python 101**

# **Math**

In [1]:
8/5

1.6

In [2]:
8//5

1

# **String**

In [3]:
string = 'this is a string'
string

'this is a string'

In [4]:
x = 7
print(string , x)    # here we used a comma since they are two different types

this is a string 7

In [6]:
print(string + str(x))   #here we can add two strings since we changed the type of x to string with the method str

this is a string7

In [8]:
quote1 = " i'll be happy "    # one way to include quotation and this goes for double quotation too
quote1

" i'll be happy "

In [9]:
quote2 = ' i\'ll be happy '      # second way to include quotation and this goes for double quotation too
quote2

" i'll be happy "

In [12]:
big_string = """
               hello there you can write as many things as you want here
             """

big_string

'\n               hello there you can write as many things as you want here \n             '

In [13]:
print('%s , %s , %s' %("hello world" , quote1 , quote2))

hello world ,  i'll be happy  ,  i'll be happy

In [31]:
print('%s , %f , %i , %c' %("hello" , 100 , 100 , 'R'))

hello , 100.000000 , 100 , R

In [16]:
print('you can remove \n')
print('new lines')

you can remove

new lines

In [19]:
print('\n'*10)

In [22]:
ray = print('rayene '*10)
ray

rayene rayene rayene rayene rayene rayene rayene rayene rayene rayene

In [24]:
rayene = 'hello there i\'m here to stay'
rayene[0:4]

'hell'

In [25]:
'he' in rayene

True

In [26]:
'him' in rayene

False

In [27]:
rayene[:]

"hello there i'm here to stay"

In [28]:
rayene[:-1]

"hello there i'm here to sta"

In [32]:
rayene.capitalize()

"Hello there i'm here to stay"

In [33]:
rayene.upper()

"HELLO THERE I'M HERE TO STAY"

In [34]:
rayene.lower()

"hello there i'm here to stay"

In [37]:
rayene.find('hell')

0

In [38]:
len(rayene)

28

In [39]:
len('rayene')

6

In [42]:
rayene.replace('there' , 'i\'m rayene and')

"hello i'm rayene and i'm here to stay"

# **List**

In [11]:
names=['rayene' , 'rawnek' , 'lilich']
names

['rayene', 'rawnek', 'lilich']

In [4]:
names[0]

'rayene'

In [5]:
names[1]

'rawnek'

In [6]:
names[-1]

'lilich'

In [7]:
names[0:1]

['rayene']

In [8]:
names[:]

['rayene', 'rawnek', 'lilich']

In [11]:
print(names[1:3])

['rawnek', 'lilich']

**append**

from the end

In [12]:
names.append('malika')
names

['rayene', 'rawnek', 'lilich', 'malika']

In [13]:
names.append(['maggi','midou'])     # append adds a list inside an existing list
print(names)

['rayene', 'rawnek', 'lilich', 'malika', ['maggi', 'midou']]

**extend**

In [15]:
more_names=['mouh' ,'bilicha']
names.extend(more_names)
print(names)

['rayene', 'rawnek', 'hassina', 'lilich', 'malika', ['maggi', 'midou'], 'mouh', 'bilicha']

**insert**


in a specific position

In [14]:
names.insert(2,'hassina')
names

['rayene', 'rawnek', 'hassina', 'lilich', 'malika', ['maggi', 'midou']]

**count**

In [39]:
names.count('malika')

1

**sort**

In [41]:
names.sort()
names

['lilich', 'malika', 'rawnek', 'rayene']

**remove**

In [54]:
names.remove('hassina')
names

['lilich', 'malika', 'hassina', 'rawnek', 'rayene']

**pop**


at a specific position

In [3]:
ray = ['ray' , 'rayray' , 'rarar']
popped_item = ray.pop(0)
print(ray)
print(popped_item)

['rayray', 'rarar']
ray

In [10]:
ray.pop()     #this will pop from the end
print(ray)

['rayray']

**delete**

In [60]:
del names[2]
names

['rayene', 'rawnek', 'malika', 'lilich']

In [6]:
hi=['hi' , 'hello' , 'hey' , 'hello there']
del hi[1:2]
print(hi)

['hi', 'hey', 'hello there']

In [9]:
numbers = [1,2,3,4,5,6,7,8]
del numbers[::2]     #delete from ...to ... with step=2
print(numbers)

[2, 4, 6, 8]

**clear**

clears all the list

In [1]:
l = [2 , 3 , 4]
l.clear()
print(l)

[]

**reverse**

In [61]:
names.reverse()
names

['lilich', 'malika', 'rawnek', 'rayene']

**length**

In [62]:
len(names)

4

**max and min**

In [63]:
max(names)

'rayene'

In [64]:
min(names)

'lilich'

**math on lists**

In [65]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [68]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

**list of lists**

In [12]:
fuclties = ['it' , 'rc' , 'bp' , 'FF']
fuclties

['it', 'rc', 'bp', 'FF']

In [14]:
data = [names , fuclties]
data

[['rayene', 'rawnek', 'lilich'], ['it', 'rc', 'bp', 'FF']]

In [47]:
data.count('rayene')

0

In [48]:
data[0]

['lilich', 'malika', 'rawnek', 'rayene']

In [16]:
data[0][0]

'rayene'

In [17]:
data[1]

['it', 'rc', 'bp', 'FF']

In [18]:
data[1][1]

'rc'

In [30]:
test = [['rayene' , 'malika', 'ray'],[2,3,4]]
test

[['rayene', 'malika', 'ray'], [2, 3, 4]]

In [22]:
test[1][2]

4

In [23]:
test[0]

['rayene', 'malika', 'ray']

In [25]:
tess=[0 , 'ray']
tess

[0, 'ray']

In [27]:
tea=[[1.3 , 'ray'],[1,2,'tt']]
tea

[[1.3, 'ray'], [1, 2, 'tt']]

# **Tuple**

Un tuple ne peut pas être modifié après l'assignation car c'est un objet immuable.En revanche, les listes sont modifiables car elles sont mutables.

In [30]:
tuple=()
print(tuple)

()

In [53]:
t = ('spam', 'eggs', 9, ['one', 'two', 'three'],(1, 2, 3),True)
print(t)

('spam', 'eggs', 9, ['one', 'two', 'three'], (1, 2, 3), True)

In [56]:
t[4]

(1, 2, 3)

In [58]:
mon_tuple = (1,)           #La virgule est nécessaire pour différencier un tuple d'une simple expression entourée de parenthèses
mon_tuple

(1,)

In [60]:
my_tuple = 1,
my_tuple

(1,)

In [61]:
mon_tuple = ()
mon_tuple += (128,)
print(mon_tuple)

(128,)

In [31]:
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [32]:
tuple[0]

1

In [33]:
tuple[0:2]

(1, 2)

In [34]:
tuple[0]=12   #we can't modify the value of the item number 0

TypeError: ignored

In [35]:
tuple=list(tuple)
print(tuple)

[1, 2, 3, 4, 5]

In [37]:
tuple[0]=12                  #here since it's a list we can change values
tuple

[12, 2, 3, 4, 5]

In [63]:
t = ('spam', 'eggs', 'knights')
v1, v2 , v3 = t          #unpacking a tuple
print(v1 , v2 , v3)

spam eggs knights

In [64]:
print(t.index('eggs'))

1

# **Dictionary**

In [42]:
# dict = {'key' : 'value'}
"""
Une clé doit être unique, les doublons ne sont pas autorisés.
Si cela arrive, cela ne va pas créer d'erreur mais votre seconde clé écrasera la première.
"""
fac_names={ 'rawnek':'medecine',
            'hassna' : 'anglais',
            'midou' : 'français',
            'maggi':'architecture'}

print(fac_names)

{'rawnek': 'medecine', 'hassna': 'anglais', 'midou': 'français', 'maggi': 'architecture'}

In [66]:
t = dict()
t

{}

In [71]:
#Les valeurs peuvent être de n'importe quel type alors que les clés doivent obligatoirement être de type immuable !
#Vous pouvez ainsi utiliser un float ou un tuple comme clé sans problème

d = dict( {1 : 'one',
        'deux': 2 ,
        (3, 4, 5): 'pas_de_soucis',
        9.9: 'nine_point_nine'})

print(d)

{1: 'one', 'deux': 2, (3, 4, 5): 'pas_de_soucis', 9.9: 'nine_point_nine'}

In [75]:
d.clear()
d

{}

In [76]:
del d # supprimer entièrement le dictionnaire
print(d)

NameError: ignored

In [43]:
fac_names['rawnek']

'medecine'

In [44]:
fac_names['medecine']    # we can't call the value to get the key!!

KeyError: ignored

In [45]:
len(fac_names)

4

In [48]:
fac_names['rawnek'] = 'med'    #changement de valeur déja existante
fac_names

{'rawnek': 'med',
 'hassna': 'anglais',
 'midou': 'français',
 'maggi': 'architecture'}

In [72]:
fac_names['rayene'] = 'info'     #Création d'une nouvelle paire clé/valeur
fac_names

{'rawnek': 'med',
 'hassna': 'anglais',
 'maggi': 'architecture',
 'rayene': 'info'}

In [49]:
del fac_names['midou']
fac_names

{'rawnek': 'med', 'hassna': 'anglais', 'maggi': 'architecture'}

In [73]:
fac_names.pop('rayene')
fac_names

{'rawnek': 'med', 'hassna': 'anglais', 'maggi': 'architecture'}

In [74]:
item =fac_names.popitem()
item

('maggi', 'architecture')

In [50]:
fac_names.get('maggi')

'architecture'

In [51]:
fac_names.keys()

dict_keys(['rawnek', 'hassna', 'maggi'])

In [52]:
fac_names.values()

dict_values(['med', 'anglais', 'architecture'])

In [78]:
#vérifier la présence d'une clé dans un dictionnaire
print('rawnek' in fac_names)

True

In [79]:
#itérer dans un dict
for key in fac_names:
  print(key)

rawnek
hassna

In [80]:
for key in fac_names :
   print(key , fac_names[key])

rawnek med
hassna anglais

In [82]:
for key in fac_names.keys():
  print(key)

rawnek
hassna

In [83]:
keys = fac_names.keys()
keys

dict_keys(['rawnek', 'hassna'])

In [85]:
for values in fac_names.values() :
  print(values)

med
anglais

In [87]:
for keys , values in fac_names.items() :
  print(keys , values)

rawnek med
hassna anglais

In [88]:
#we can assaign two values to one key
names = {'rayene' : ['ray' , 'rayoun'],
         'mouh' : 'lilich'}
print(names)

{'rayene': ['ray', 'rayoun'], 'mouh': 'lilich'}

In [89]:
print(names['rayene'][0])

ray

In [94]:
names['rayene'][0] = 'rainbow'
names

{'rayene': ['rainbow', 'rayoun'], 'mouh': 'lilich'}

# **if else condition**

In [95]:
gpa = 3.3
if gpa > 3 :
  print("accepted")

accepted

In [97]:
gpa = 2.3
if gpa > 3 :
  print("accepted")
else:
  print("not accepted")

not accepted

In [103]:
gpa = 2.3

if gpa > 5 :
  print("accepted")
elif gpa >=  3 :
  print('passed')
else:
  print("not accepted")

not accepted

In [106]:
gpa = 3.5
if gpa >= 3.6 and gpa <=4 :
  print("class a")
elif gpa == 3.4 or gpa >= 3.5 :
  print('class b ')
elif not(gpa >= 3):
  print('class c')
else:
  print("class d")

class b

# **for loop**

In [107]:
# la valeur 0 est affectée à x, puis 1 et ainsi de suite (x=0 , x=1 ,...)
for x in range(0,10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [108]:
names=['rayene', 'hassna' , 'rawnek']
for name in names:
  print(name)

rayene
hassna
rawnek

In [109]:
for x in [1,2,3]:
  print(x)

1
2
3

In [110]:
machin=['ff' ,'mm', 'gg']
data = [names , machin]
data

[['rayene', 'hassna', 'rawnek'], ['ff', 'mm', 'gg']]

In [115]:
for x in range(0 , len(data)):     #len(data)=2
    for y in range(0, len(data[x])):    #len(data[X][y]=3) pour chacune des sous listes
       print(data[x][y])
    print('\n')

rayene
hassna
rawnek


ff
mm
gg

In [124]:
for row in range(1,10):
  for column in range(1,10):
     num =row*column
     if num <10 :
        print(end=" ")   #at the end of the ligne print un vide where num<10
     print(num , end=" ")   #print the number and "un vide" après chaque nombre
  print(end='\n')  #after each row retour à la ligne since this print is in the same level with the first for of rows

 1  2  3  4  5  6  7  8  9
 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

**break loop**

In [2]:
#Stop the loop if i is 3
i = 1
while i < 6:
  if i == 3:
    break
  i += 1
  print(i)

2
3

**continue loop**

In [3]:
#In the loop, when i is 3, jump directly to the next iteration.
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**While loop**

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**la compréhension des listes:**

Les compréhensions de liste rendent le code plus lisible et compréhensible en
évitant l'utilisation de boucles for et if imbriquées.

Les compréhensions de liste sont généralement plus rapides que les boucles for traditionnelles

In [125]:
#[expression FOR item IN iterable IF condition]
nombres = [1, 2, 3, 4, 5]
carres = [x**2 for x in nombres]     # Résultat :   1**2=1 <- x=1   et ainsi de suite...
print(carres)

[1, 4, 9, 16, 25]

In [ ]:
nombres = [1, 2, 3, 4, 5]
carres_pairs = [x**2 for x in nombres if x % 2 == 0]
print(carres_pairs)  # Résultat : [4, 16]

**Compréhension des dictionnaires:**

Comme pour les listes, il est aussi possible de passer par une compréhension de dictionnaire

In [128]:
d = {
    'spam': 'ham',
    'knights': 'lumberjack',
    'bacon': 'sausage'
}

d_with_s = {k:v + 's' for k, v in d.items()}  # Ajoute un 's' à toutes les valeurs
print(d_with_s)

{'spam': 'hams', 'knights': 'lumberjacks', 'bacon': 'sausages'}

# **function in python**

In [129]:
def add(x,y):
  return x+y

In [130]:
add(3,2)

5

In [152]:
list=[1,2,3]
def modify(l):
  return l.append(4)

In [153]:
modify(list)

In [154]:
list

[1, 2, 3, 4, 4]

In [3]:
list=[1,2,3]
def override(list):
  print(list)
  list = [5,6,7,8]
  return list

print(override(list))
print(list)      # since list is a global variable

[1, 2, 3]
[5, 6, 7, 8]
[1, 2, 3]

In [4]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [23]:

x = "awesome"
def myfunc():
  global x        #To change the value of a global variable inside a function, refer to the variable by using the global keyword
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [6]:
#functions with two parameters

def getData(name,age):
  print('Name is: ' ,name)
  print('Age is: ', age)

getData('rayene', 25)

Name is:  rayene
Age is:  25

In [12]:
#when one parameter has a default value
def getData(name=None,age=25):
  print('Name is: ',name)
  print('age is: ',age)

getData('Rayene')

Name is:  Rayene
age is:  25

In [14]:
#function with multiple parameters

def Data(x , *vars):
  print(x)
  for var in vars:
    print(var)

In [15]:
Data(1)

1

In [16]:
Data(1,2)

1
2

In [18]:
Data(1,2,3,4,5,6)

1
2
3
4
5
6

**lambda**     [**lambda**  inputs : expression]


A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [22]:
multiply = lambda x,y : x*y
multiply(2,3)

6

In [24]:
x = lambda a : a + 10
print(x(5))

15

In [27]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

# **Class and objects**

In [49]:
class Employee:

  #attributes
  empCount = 0

  #methods
  def __init__(self , name, salary):       #constructeur
     self.name = name
     self.salary = salary

     Employee.empCount +=1

  def displayCount(self):
    print(Employee.empCount)

  def displayEmployee(self):
      print('Name: ' , self.name , 'Salary: ', self.salary)

emp1 = Employee('rayene' , 2500)

In [50]:
print(emp1.empCount)
print(emp1.name)
print(emp1.salary)

1
rayene
2500

In [51]:
emp1.displayEmployee()

Name:  rayene Salary:  2500

In [52]:
emp1.displayCount()

1

In [53]:
emp2 = Employee('rawnek' , 3500)

In [54]:
emp2.displayCount()

2

In [55]:
emp1.age = 25

In [56]:
emp1.age

25

In [57]:
emp2.age    #emp2 has no attribute age

AttributeError: ignored

In [58]:
del emp1.age

In [59]:
emp1.age  # on a écrasé la variable elle va pas etre affichée

AttributeError: ignored

In [60]:
emp2.age = 20

In [62]:
delattr(emp2 , 'age')

In [64]:
emp2.age

AttributeError: ignored

AttributeError: ignored

**other stuff that is good to know i might have missed earlier**

In [69]:
txt ='hello world '
txt.strip()     #Return the string without any whitespace at the beginning or the end.

'hello world'

In [70]:
#Replace the character H with a J.

txt = "Hello World"
txt = txt.replace('H', 'J')

In [72]:
#Insert the correct syntax to add a placeholder for the age parameter.

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [74]:
"""
Almost any value is evaluated to True if it has some sort of content.
Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones

"""
print(bool("abc"))

True